
<footer class="text-center text-lg-start ">

    <section class="footer">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3 ">

          <div class="col-md-3 pt-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <h4 class=" mb-4 white-color" >
              Auction
            </h4>
            <p class="white-color">
                Discover treasures and bid on your favorites at our online auction platform.<br>
                Join the excitement of competitive bidding and find unique items today!<br>

            </p>
          </div>

          <div class="col-md-2 pt-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <h4 class=" mb-4 white-color" >
                Navigation
            </h4>
            <p class="white-color">
              <a href="#!" class="text-reset white-color">Home</a>
            </p>
            <p class="white-color">
              <a href="#!" class="text-reset white-color">Browse Products</a>
            </p>
            <p class="white-color">
              <a href="#!" class="text-reset white-color">About Us</a>
            </p>
            <p class="white-color">
              <a href="#!" class="text-reset white-color">My Account</a>
            </p>
          </div>

 

          <div class="col-md-4 pt-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <h6 class="text-uppercase fw-bold mb-4 white-color">Contact Us</h6>
            <p class="white-color">162 Smouha Alexandria, Egypt</p>
            <p class="white-color">
                MagedYoussef@Auction.com
            </p>
            <p class="white-color">+01283230322</p>
            <p class="white-color">+01283230355</p>
          </div>

        </div>

      </div>
    </section>

    <div class="text-center p-4 Copyright">
      © Copyright 2023 Auction | Design By Youssef Elsabawy and Maged Maher
    </div>
  </footer>
